@charset UTF-8;

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
}

a {
  text-decoration:none;
}

p {
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;

}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}


#top1, #bottom1, #bottom2 {
  width : 100%;
} 

#top1 img, #bottom2 img {
  display: block;
  margin: 0 auto;
}


#footer {
 position: absolute;
 bottom: 0px; 
 width: 100%;
}

#reload_button {
  padding: 0px 20px;
  width: 100%;
}

#wrapper {
  background-image:url(../img/background.png);
  background-repeat:repeat-x;
  background-color:#fff;
  margin:0;
  padding:0;
  font-family: verdana, arial, sans-serif;
}

#content {
  background-color: #eee;
  font-size:12px;
  position: relative;
  z-index: 1;
  height: 385px;
  width: 100%;
  overflow: auto;
  margin: 0px auto;
}

.tab {
 padding: 2px 7px;
 margin: 0px 10px; 
}

#scroller {
  position:absolute; 
  width:100%;
  padding:0;
}

.main_view {
  display:none;
}


#hidden {
  display:none;
}

#menu {
  height:35px;
  padding:5px 20px 5px 20px;
}

#menu .nav_item {
  width:25%;
  float:left;
  height:35px;
  background-image:url(../img/button_sprite.png);
  background-position:0px 0px;
  height: 100%;
  float:left;
  text-align:center;
}


.nav_item {
  cursor:pointer;
}

.nav_item.button_active {
  cursor:default;
}

#menu h2 {
  font-size:10px;
  padding-top:12px;
  color:#FFF;
  font-style:normal;
  text-decoration:none;
  font-weight:400;
  line-height:10px;
  background-repeat: no-repeat;
  background-position: center 10px;
}

#menu #cloud h2{
  background-image:url(../img/cloud.png); 
}
#menu #packages h2{
  background-image:url(../img/packages.png); 
}
#menu #index h2{
  background-image:url(../img/index.png);
  background-size: 19px; /* Give this guy a special BG size as the PNG image is a little big */ 
}
#menu #intro h2{
  background-image:url(../img/intro.png); 
}

#logo {
  height: 50px;
}