#content {
  background-color: #ddd;
  text-align: justify;
}

p {
  background-color: #fff;
  color: #000
}

a: {
  color: #2879c7;
}

#reload_button {
  width: 89.5%;
  margin-left: 5.5%;
}

#menu #cloud h2{
  background-image: none; 
}
#menu #packages h2{
  background-image: none; 
}
#menu #index h2{
  background-image: none; 
}
#menu #intro h2{
  background-image: none;  
}
#menu .button_active {
  background-position:0px -100px;
}
