#content {
  background-color: #ddd;
}

p {
  background-color: #fff;
  color: #000
}

a: {
  color: #2879c7;
}
#menu .nav_item h2 {
	background-image: none; /* We're actually not going to use background images on our mobile web-ish theme */
}
