/* Give our app a new color scheme. The app is going to be black, with white/off-white text */
p {
  color: white;
}
a{
   color: #2879c7;
}
body {
   background-color: black; 
}

#wrapper, #content {
  background-color: transparent;
  background-image: none;
}

/* Setup our layout so the navigation looks like android, at the top of the page. */

#content {
  margin: 0 5px;
}

#menu {
  padding: 0px;
  height: 40px;
}

#menu h2 {
  padding-top: 28px;  
}

#menu .nav_item {
    background-repeat: no-repeat;
    border-bottom: 2px solid #C0C0C0;
    background-position: center 4px;
}

#menu .button_active {
   background-color: #C0C0C0;
}
