p {
  background-color: #fff;
  color: #000
}

a: {
  color: #2879c7;
}

body {
 background-color: black; 
}

#content {
  background-color: #eee;
  font-family: Arial;
  font-size: 0.7em;
  text-align: justify;
  margin: 0px ;
}

#reload_wrapper {
  background-color: #eee;
  padding:20px 20px;
}

#logo img {
  height:8%;
}

#logo {
  background-image: linear-gradient(bottom, #3063D0 46%, #81A8E3 89%);
  background-image: -o-linear-gradient(bottom, #3063D0 46%, #81A8E3 89%);
  background-image: -moz-linear-gradient(bottom, #3063D0 46%, #81A8E3 89%);
  background-image: -webkit-linear-gradient(bottom, #3063D0 46%, #81A8E3 89%);
  background-image: -ms-linear-gradient(bottom, #3063D0 46%, #81A8E3 89%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.46, #3063D0),
    color-stop(0.89, #81A8E3)
  );
}

#menu #cloud h2{
  background-size: 25px;
  background-image:url(../img/cloud.png); 
  background-repeat: no-repeat;
  background-position: center 12px;
}
#menu #packages h2{
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-image:url(../img/packages.png); 
}
#menu #index h2{
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-image:url(../img/notes.png); 
}
#menu #intro h2{
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-image:url(../img/intro.png); 
}

#menu{
  height: 50px;
  background: #3a3a3a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(50%,#141414), color-stop(50%,#000000), color-stop(100%,#000000));
  background: -webkit-linear-gradient(top,  #3a3a3a 0%,#141414 50%,#000000 50%,#000000 100%);  
}

#menu h2 {
  font-family: Arial;
  color: white;
  padding-top:34px;
}

#menu .button_active {
  font-weight:900;
  background-repeat: no-repeat; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(50%,#434343), color-stop(50%,#353535), color-stop(100%,#333333));
  background: -webkit-linear-gradient(top, #616161 0%,#434343 50%,#353535 50%,#333333 100%);
}