p {
  position: relative;
  padding: 0px 6px 3px 6px;
  color: #3B455B; 
  text-shadow: 0px 1px #fff; 
  font-weight: 500;
}

body {
  background-image: url(../img/iOSbackground.png); 
  background-size: 10%; 
}
 
#wrapper, #header, #content {
  background-color: none;
  background-image: none;
  background: transparent;
  font-size: 1em;
}

a: {
  color: #2879c7;
}


#top1, #bottom1, #bottom2 {
  width : 100%;
} 

#top1{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0bccd), color-stop(50%,#889bb3), color-stop(50%,#8195af), color-stop(100%,#6d84a2));
  background: -webkit-linear-gradient(top, #b0bccd 0%,#889bb3 50%,#8195af 50%,#6d84a2 100%);
  background: linear-gradient(top, #b0bccd 0%,#889bb3 50%,#8195af 50%,#6d84a2 100%);
  border-top: 1px solid #cdd5df;
  border-bottom: 1px solid #2d3642; 
}

#top1 img, #bottom2 img {
  padding:4px;
  display: block;
  margin: 0 auto;
}

#reload_button {
  position: relative;
  padding: 5px 15px;
  border-radius: 6px;
  border: 1px solid black;
  margin: 10px 0px 0px 10.5%;
  width: 80%;
  color: black;
  font-size: 0.9em;
  background-image: linear-gradient(bottom, rgb(172,169,172) 48%, rgb(204,204,204) 50%);
  background-image: -o-linear-gradient(bottom, rgb(172,169,172) 48%, rgb(204,204,204) 50%);
  background-image: -moz-linear-gradient(bottom, rgb(172,169,172) 48%, rgb(204,204,204) 50%);
  background-image: -webkit-linear-gradient(bottom, rgb(172,169,172) 48%, rgb(204,204,204) 50%);
  background-image: -ms-linear-gradient(bottom, rgb(172,169,172) 48%, rgb(204,204,204) 50%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.48, rgb(172,169,172)),
    color-stop(0.5, rgb(204,204,204))
  );
}

#reload_button:hover,
#reload_button:focus:hover {
  background: rgb(172,169,172);
}

body {
  background-color: black;
  position : relative;
}

#content {
  padding: 0px 5px 0px 5px;
  font-family: Helvetica;
  font-size: 1em;
  text-align: justify;
  margin: 0px ;
  margin-left: -2%;
  position: relative;
  width: 98%;
}


#logo {
  
}

#hidegap {
  background-color: black; 
  position: fixed;
  top: 98%;
  min-height: 3%;
  min-width: 100%;
}

#bottom1 #menu, #bottom2 #menu{
  position: fixed;
  top: 90%;
}

#menu, #footer {
 height: 52px; 
}

#menu .nav_item {
  width: 24.25%; 
  height: 47px;
}

#menu{
  padding: 0px 5px;
  z-index: 1;
  width: 100%;
  background: #3a3a3a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(50%,#141414), color-stop(50%,#000000), color-stop(100%,#000000));
  background: -webkit-linear-gradient(top,  #3a3a3a 0%,#141414 50%,#000000 50%,#000000 100%);  
}

.main_view {
   position: relative;
}

#menu h2{
  padding-top: 34px;
}

#menu .button_active {
  border-radius: 8px;
  margin: 4px 0px;
  background-repeat: no-repeat; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(50%,#434343), color-stop(50%,#353535), color-stop(100%,#333333));
  background: -webkit-linear-gradient(top, #616161 0%,#434343 50%,#353535 50%,#333333 100%);
}

#menu #cloud h2{
  background-size: 25px;
  background-repeat: no-repeat; 
  background-position: center 12px;
}
#menu #cloud h2:hover,
#menu #cloud h2:focus:hover {
  background-position: center 12px;
  background-image:url(../img/cloud_active.png); 
}

#menu #packages h2{
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center 10px;
}
#menu #packages h2:hover,
#menu #packages h2:focus:hover {
  background-position: center 10px;
  background-image:url(../img/packages_active.png); 
}

#menu #index h2{
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center 10px; 
}
#menu #index h2:hover,
#menu #index h2:focus:hover {
  background-position: center 10px;
  background-image:url(../img/index_active.png); 
}

#menu #intro h2{
  background-size: 20px;
  background-position: center 10px;
}
#menu #intro h2:hover,
#menu #intro h2:focus:hover {
  background-position: center 10px;
  background-image:url(../img/intro_active.png); 
}



