p {
  position: relative;
  padding: 0px 6px 3px 6px;
  color: #3B455B; 
  text-shadow: 0px 1px #fff; 
  font-weight: 500;
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

a: {
  color: #2879c7;
}


body {
  background-color: black;
  position : relative;
}

#content {
  background-image: url(../img/iOSbackground.png); 
  background-size: 15%;
  padding: 0px 5px 0px 5px;
  font-family: Helvetica;
  font-size: 0.8em;
  text-align: justify;
  margin: 0px ;
  position: relative;
}

#wrapper {
  background-image: url(../img/iOSbackground.png); 
  background-size: 15%;
}

#reload_wrapper {
  background-image: url(../img/iOSbackground.png);
  background-size: 15%; 
  position: relative;
  top: 13px; 
  padding: 10px 15px 10px 15px;
}

#logo img {
  height:9.5%;
}

#header{
  background: transparent; 
}

#logo {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0bccd), color-stop(50%,#889bb3), color-stop(50%,#8195af), color-stop(100%,#6d84a2));
  background: -webkit-linear-gradient(top, #b0bccd 0%,#889bb3 50%,#8195af 50%,#6d84a2 100%);
  background: linear-gradient(top, #b0bccd 0%,#889bb3 50%,#8195af 50%,#6d84a2 100%);
  border-top: 1px solid #cdd5df;
  border-bottom: 1px solid #2d3642;
}



#menu{
  height: 50px;
  z-index: 1;
  position: relative;
  background: #3a3a3a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(50%,#141414), color-stop(50%,#000000), color-stop(100%,#000000));
  background: -webkit-linear-gradient(top,  #3a3a3a 0%,#141414 50%,#000000 50%,#000000 100%);  
}

.main_view {
   position: relative;
}

#menu h2 {
  font-family: Arial;
  font-size: 0.75em;
  color: white;
  padding-top:34px;
}

#menu .button_active {
  border-radius: 8px;
  margin: 4px 0px;
  background-repeat: no-repeat; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(50%,#434343), color-stop(50%,#353535), color-stop(100%,#333333));
  background: -webkit-linear-gradient(top, #616161 0%,#434343 50%,#353535 50%,#333333 100%);
}

#menu #cloud h2{
  background-size: 25px;
   background-repeat: no-repeat;
  background-image:url(../img/cloud.png); 
  background-position: center 12px;
}
#menu #cloud h2:hover,
#menu #cloud h2:focus:hover {
  background-position: center 12px;
  background-image:url(../img/cloud_active.png); 
}

#menu #packages h2{
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-image:url(../img/packages.png); 
}
#menu #packages h2:hover,
#menu #packages h2:focus:hover {
  background-position: center 10px;
  background-image:url(../img/packages_active.png); 
}

#menu #index h2{
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-image:url(../img/index.png); 
}
#menu #index h2:hover,
#menu #index h2:focus:hover {
  background-position: center 10px;
  background-image:url(../img/index_active.png); 
}

#menu #intro h2{
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-image:url(../img/intro.png); 
}
#menu #intro h2:hover,
#menu #intro h2:focus:hover {
  background-position: center 10px;
  background-image:url(../img/intro_active.png); 
}



